.navbar {
  display: var(--nav-show);
  padding: var(--navbar-padding);
  box-shadow: var(--main-border-sunk-out),var(--main-border-sunk-in);
  width: var(--nav-w);
  justify-content: var(--nav-flex-jus);
  align-items:var(--nav-flex-ali);
  border-bottom: var(--nav-bb);
  margin-bottom: var(--nav-mb);

    li {
      list-style: var(--nav-li-style);
      display:var(--nav-li-display);
      flex-direction:var(--nav-li-dir);
      padding:var(--nav-li-pad);
      gap:var(--nav-li-gap);
      color:var(--li-color);
    }

    ul {
      background:var(--nav-ul-back);
      background-image:var(--nav-ul-back-im);
      padding:var(--nav-ul-pad);
      width:var(--nav-ul-w);
      font-family:var(--common-font);
      font-size:var(--nav-ul-txt-size);
      line-height:var(--nav-ul-txt-lh);
      letter-spacing:var(--nav-ul-txt-letspa);
      text-transform:var(--nav-ul-txt-deco);
      box-shadow:var(--main-border-sunk-out),var(--main-border-sunk-in);
      text-align:var(--nav-ul-t-ali);
      border: var(--nav-ul-bor);
      border-style: var(--nav-ul-style);
      border-top-left-radius: var(--nav-borrad-t-l);
      border-top-right-radius: var(--nav-borrad-t-r);
      text-shadow:var(--nav-ul-txt-shad);
    }
  }
