.varFont {
  display: var(--varFont-display);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0em 4em;
}

.switchyfont {
    font-weight: var(--var-font-weight);
    font-variation-settings: "wght" var(--var-font-weight);
    width:100%;
}

.fontSliderBox {
  display: var(--fontSliderBox-display);
}

[data-font-weight="400"] {
  --var-font-weight:400;
}

[data-font-weight="500"] {
  --var-font-weight:500;
}

[data-font-weight="600"] {
  --var-font-weight:600;
}

[data-font-weight="700"] {
  --var-font-weight:700;
}

[data-font-weight="800"] {
  --var-font-weight:800;
}
