.sceumorphic-elements {
  display:var(--2010-display);
}

.macbook {
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1657403958/History%20of%20webdesign/Compicomposition_qdhwdr.png);
  background-size: cover;
  position:fixed;
  width: 1102px;
  height: 746px;
  top:6em;
  left: 50%;
  transform: translateX(-50%);
  z-index:2;
}

.polaroid {
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1657276307/History%20of%20webdesign/Polakamera_ykr92y.png);
  background-size:cover;
  width: 400px;
  height: 367px;
  position:fixed;
  z-index:20;
  top:30em;
  left:0em;
}

.iphone {
  display:none;
  background-size:cover;
  width: 280px;
  height: 549.6px;
  position:fixed;
  z-index:20;
  top:4.5em;
  left:50%;
  transform: translateX(-50%);
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1658685421/History%20of%20webdesign/Group_54_gdzzqv.png);
}

@media screen and (max-width: 1100px) {
  .macbook {
    width: 756px;
    height: 512px;
  }

  .polaroid {
    width: 314px;
    height: 288px;
    top:20.75em;
  }
}


@media screen and (max-width: 750px) {
  .polaroid {
    width: 192px;
    height: 176px;
    left:27em;
    top:16.5em;
  }

  .macbook {
    width: 500px;
    height: 338px;
  }
}

@media screen and (max-width: 550px) {
  .polaroid {
    display:none;
  }

  .macbook {
    display:none;
  }

  .iphone {
    display:block;
  }
}
