.sceumorphic-elements {
  display:var(--2010-display);
}

.macbook {
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1657313564/History%20of%20webdesign/compi_juvqe4.png);
  background-size: cover;
  position:fixed;
  width: 1102px;
  height: 676px;
  top:6em;
  left: 50%;
  transform: translateX(-50%);
  z-index:2;
}

.polaroid {
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1657276307/History%20of%20webdesign/Polakamera_ykr92y.png);
  background-size:cover;
  width: 400px;
  height: 367px;
  position:fixed;
  z-index:20;
  bottom:-3em;
  left:0em;
}

@media screen and (max-width: 1000px) {
  .macbook {
    width: 756px;
    height: 461px;
  }

  .polaroid {
    width: 314px;
    height: 288px;
    top:19em;
  }
}


@media screen and (max-width: 756px) {
  .polaroid {
    width: 192px;
    height: 176px;
    top:15.5em;
  }

  .macbook {
    width: 500px;
    height: 305px;
  }
}
