.icon{
	background: transparent;
	border: none;
	font-size: 20px;
}

.playerContainer{
	width: 311px;
	min-height: 100px;
	background-color: rgb(0, 0, 0);
  background-image: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656943713/History%20of%20webdesign/2006-content_hqn7w8.png);
  background-size:cover;
	display: var(--player-display);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px 0px 0px 5px;
  position:absolute;
  bottom:40px;
  right:0px;
  z-index:20;
  border:#F20CA0 2px solid;
  border-style: outset;

  h3 {
    color:#F20CA0;
    font-family: 'Press Start 2P', cursive;
    font-size:12.5px;
    line-height:12.5px;
  }

  h4 {
    color:#F20CA0;
    font-family: 'Press Start 2P', cursive;
    font-size:8px;
    line-height:8px;
  }
}

.songInfo {
  display:flex;
  flex-direction:row;
  width:100%;
  gap:0px;
  align-items:center;
  background:rgba(0, 0, 0, 0.513);
  background-image: linear-gradient(90deg, #000000 -7.14%, rgba(0, 0, 0, 0) 100%);
  border-radius:5px;
  border: 2px solid #F20CA0;
}

.songTexts {
  margin-left:10px;
  display:flex;
  flex-direction: column;
}

.avatar{
	top:0px;
	left: auto;
	right: auto;
	width: 80px;
	height:80px;
	border-radius: 3px 0px 0px 3px;
  border-right:2px solid #F20CA0;
}

.name{
	width:100%;
	text-align:left;
  margin-top: 10px;
}

.title{
	margin-top: 5px;
	margin-bottom: 5px;
	width:100%;
	text-align:left;
}

.controls{
	width: 60%;
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin-top: 10px;
  color:white;
}

.controlButton{
	border: none;
	background-color: transparent;
	cursor: pointer;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	transition: box-shadow 0.4s;
  color: #F20CA0;
  border: 2px solid #F20CA0;
  background:black;
}

.controlButton:hover{
  color:#c70984;
}

.controlButton:focus{
  border: 2px solid #F20CA0;
}


.centerButton{
	border: none;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border: 2px solid #F20CA0;
	color: #F20CA0;
	transition: box-shadow 0.5s;
  background:black;
}

.centerButton:hover{
  color:#c70984;
}

.centerButton:focus {
  border: 2px solid #F20CA0;
 }

.options{
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 10px;
}

.opt{
	border: none;
	background-color: rgba(0, 0, 0, 0.488);
	font-size: 20px;
	height:auto;
	width:auto;
	border-radius:50%;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: box-shadow 0.4s;
  color: #F20CA0;
}

.opt:hover{
	cursor:pointer;
	color: #c70984;
}
