.circle {
  position: relative;
  display: var(--circle-show);

  text {
    font-family: var(--extra-font);
    font-size: 18px;
    letter-spacing: 1.6px;
    font-weight: bold;
  }

  svg {
    position:absolute;
    height:1;
    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
  }
}

.circle-cont {
  position: absolute;
  color: var(--p-color);
  width:230px;
  height:230px;
  font-family: var(--common-font);
  font-size: 14px;
  z-index:5;
  mix-blend-mode:hard-light;
  background-size:cover;
  background-repeat:no-repeat;
  line-height: 230px;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding:49px;
  }
}

#circle-1-cont {
  top:8.25em; left:0.5em;
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656851279/History%20of%20webdesign/circle-ass-1_roimag.png);
}

#circle-1 svg { bottom:-30em; left:-8em;
  -webkit-animation-duration: 7s;
     -moz-animation-duration: 7s;
       -o-animation-duration: 7s;
          animation-duration: 7s;
}

#circle-2-cont {
  bottom:-10em; left:28em;
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656851279/History%20of%20webdesign/circle-ass-2_mfro0p.png);
}

#circle-2 svg {
  bottom:-17.25em;
  left:16.25em;
  -webkit-animation-duration: 9s;
     -moz-animation-duration: 9s;
       -o-animation-duration: 9s;
          animation-duration: 9s;
}

#circle-3-cont {
  top:10em;
  left:21em;
  background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656851279/History%20of%20webdesign/circle-ass-3_yuua92.png);
}

#circle-3 svg {
  top:0.5em; left:10em;
  -webkit-animation-duration: 5s;
     -moz-animation-duration: 5s;
       -o-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(-360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(-360deg); }
    to { -moz-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(0); }
}
