body {
  margin: 0;
}

main {
  background:red;
}

input {
  margin: 0;
}

.wrapper {
  padding: 2rem;
  height:100vh;
  margin-top:72px;
}

.flow > * + * {
  margin-top: 0.5em;
}

.theme-background {

  & > * {
    width: 100%;
    margin: 0.25rem;
  }
}

.theme-background-input {
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  padding: 0 1rem;
  cursor: pointer;

  & input {
    margin-right: 20px;
  }
}
