body {
  margin: 0;
}

main {
}

input {
  margin: 0;
}

.wrapper {
  height:var(--wrap-h);
  display:flex;
  flex-direction:var(--wrap-flex-dir);
  justify-content:space-between;
  overflow:var(--wrap-overflow);
}

.wrapper > * + * {
  padding: var(--global-padding);
}

.main-content {
  margin:var(--1992-margin);
  margin-top:var(--main-margin-top);
  padding: var(--global-padding);
  border:var(--1992-border);
  height: var(--main-height);
  background: var(--main-bg);
  box-shadow: var(--main-border-sunk-out), var(--main-border-sunk-in);
}

.main-content > * + * {
  margin-top: var(--global-mt);
}

.theme-background {

  & > * {
    width: 100%;
    margin: 0.25rem;
  }
}

.year-input {
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-radius: 4px;
  padding: 0 0.5rem;
  cursor: pointer;

  & input {
    margin-right: 8px;
  }
}
