@import "src/themes.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  li {
    @apply pr-4;
    @apply cursor-pointer
  }
}

main {
  transition: font-size 0.25s ease-in, color 0.25s ease-in, background-color 0.25s ease-in;
}

p {
  color: var(--p-color);
  font-family: var(--common-font);
  font-size: var(--p-size);
  margin: var(--p-margin);
  text-shadow:var(--p-shad);
}

h1 {
  color: var(--h1-color);
  font-family: var(--extra-font);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-lheight);
  margin: 0 auto;
  text-shadow:var(--h1-shad);
}

h2 {
  color: var(--h2-color);
  font-family: var(--extra-font);
  font-size: var(--h2-size);
  margin: 0 auto;
  font-weight: var(--h2-weight);
  text-shadow:var(--h2-shad);
}

h3 {
  color: var(--h3-color);
  font-family: var(--extra-font);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  margin: 0 auto;
  text-decoration: var(--h3-deco);
}

h4 {
  color: var(--h4-color);
  font-family: var(--common-font);
  font-size: var(--h4-size);
  margin: 0 auto;
}

.p-small {
  font-size: var(--p-small-size);
  text-align: var(--p-small-align);
  color: var(--ps-color);
}

.default-content {
  display: var(--default-display);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:80vh;
  gap:0.5rem;
}

.styled-content {
  display: var(--styled-display);
}


.background {
  background: var(--background);
  background-repeat: var(--background-repeat);
  background-image: var(--background-image);
  background-size: var(--background-img-cov);
}

.intro {
  padding:var(--intro-pad);
  max-width: var(--intro-mw);
  width: var(--intro-w);
  background: var(--intro-back);
  display: var(--intro-show);
}

.intro-2017 {
  display: var(--2017-intro-show);
  position: var(--2017-intro-pos);
  width:var(--2017-intro-w);
  transform: var(--2017-intro-rot);
  bottom: var(--2017-intro-pos-b);
  left: var(--2017-intro-pos-l);
  right: var(--2017-intro-pos-r);
  top: var(--2017-intro-pos-t);
}

.varyear::after {
  content: var(--year);
}

.head-area {
  display: var(--head-behaviour);
  flex-direction:  var(--head-flx-dir);
  gap: var(--head-gap);
  align-items:var(--head-ali);
  padding: var(--head-area-pad);
}

.head-images {
  position: var(--head-images-pos);
  left: var(--head-images-l);
  top: var(--head-images-t);
  right: var(--head-images-r);
  bottom: var(--head-images-b);
}

.head-image {
  background-image: var(--hImgSrc);
  width: var(--hImgW);
  height: var(--hImgH);
  flex-shrink: var(--hImgFlexS);
  border-radius:var(--hImg-borrad);
  box-shadow: var(--hImg-shadow);
  z-index:var(--hImg-z);
  background-repeat:var(--hImg-rep);
  background-size: var(--hImg-cov);
  mix-blend-mode: var(--hImg-blend);
  position: var(--hImg-pos);
}

.head-image-II {
  background-image: var(--hImg2Src);
  width: var(--hImg2W);
  height: var(--hImg2H);
  border-radius:var(--hImg2-borrad);
  box-shadow: var(--hImg2-shadow);
  z-index:var(--hImg2-z);
  mix-blend-mode: var(--hImg2-blend);
  position: var(--hImg2-pos);
  top: var(--hImg2-t);
  left: var(--hImg2-l);
}

.head-image-III {
  background-image: var(--hImg3Src);
  width: var(--hImg3W);
  height: var(--hImg3H);
  border-radius:var(--hImg3-borrad);
  box-shadow: var(--hImg3-shadow);
  z-index:var(--hImg3-z);
  mix-blend-mode: var(--hImg3-blend);
  position: var(--hImg3-pos);
  top: var(--hImg3-t);
  left: var(--hImg3-l);
}

.headlines {
  padding: var(--headlines-pad);
  background: var(--head-back);
  text-align: var(--head-align);
}

.headp {
  display: var(--headp-show);
  margin-top:var(--headp-mt);
  width:var(--headp-w);
}

.boxes {
  display: var(--boxes--flx-beh);
  flex-direction:  var(--boxes-flx-dir);
  flex-grow:var(--boxes--flx-grow);
  gap: var(--boxes-flex-gap);
  justify-content: var(--boxes-flex-jus);
  padding: var(--boxes-pad);
  background: var(--box-back);
  background-image: var(--box-back-img);
  background-size: var(--box-back-img-cov);
  border: var(--border);
  border-image-slice: var(--gradient-outl-slice);
  border-width: var(--gradient-outl-border-w);
  border-image-source: var(--gradient-outl-img-src);
}

.content-box {
  display: var(--cnt-behaviour);
  flex-direction:  var(--cnt-flx-dir);
  gap: var(--cnt-gap);
  padding:var(--cnt-pad);
  border:var(--cnt-bor);
  border-image-slice: var(--gradient-outl-slice);
  border-width: var(--gradient-outl-border-w);
  border-image-source: var(--gradient-outl-img-src);
  border-radius:var(--cnt-bor-rad);
  text-align: var(--cnt-txt-ali);
  align-items:var(--cnt-ali-its);
  box-shadow: var(--box-border-sunk-out), var(--box-border-sunk-in);
  box-shadow: var(--box-s-neo-dark), var(--box-s-neo-light);
  position:var(--cnt-pos);
  background:var(--cnt-back);
  z-index:var(--cnt-z);
  width:var(--cnt-w);

  p {
    color: var(--contxt-color);
    font-size:var(--contxt-fontsize);
  }
}

.content-box:nth-child(1) {
  background: var(--conI-back);
}

.content-box:nth-child(2) {
  background: var(--conII-back);
}

.content-box:nth-child(3) {
  background: var(--conIII-back);
}

.cbox-image {
  width: var(--cbi-W);
  height: var(--cbi-H);
  position: var(--cbi-pos);
  right: var(--cbi-pos-r);
  left: var(--cbi-pos-l);
  top: var(--cbi-pos-t);
  box-shadow: var(--cbi-shadow);
  border-radius: var(--cbi-borrad);
}

.cbi-I {
  background-image: var(--cbi-I);
}

.cbi-II {
  background-image: var(--cbi-II);
}

.cbi-III {
  background-image: var(--cbi-III);
}

.content-box span:nth-of-type(1){
  width: var(--cnt-first-w);
}

.content-box span:nth-of-type(2){
  margin-left: var(--cnt-second-ml);
}

.footer {
  display: var(--foot-behave);
  flex-direction:  var(--foot-flx-dir);
  justify-content: var(--foot-flx-just);
  align-items: var(--foot-flx-align);
  background: var(--foot-back);
  padding: var(--foot-pad);
  position: absolute;
  bottom: var(--foot-pos-b);
  right: var(--foot-pos-r);
  left: var(--foot-pos-l);
  width:var(--foot-w);
  box-shadow: var(--foot-inset);
  text-align:var(--foot-txt-align);
}

.footer-image {
  background-image: var(--fImgSrc);
  width: var(--fImgW);
  height: var(--fImgH);
}

.footer-links {
  display: var(--foot-li-show);
}

.inner-wrap {
  background: var(--iWrap-back);
  background-image: var(--iWrap-img);
  width: var(--iWrap-w);
  height: var(--iWrap-h);
  background-size: var(--iWrap-cov);
  display:var(--inner-wrap-flex);
  align-items:(--inner-wrap-flex-ali);
  justify-content:var(--inner-wrap-just);
  flex-direction:var(--inner-wrap-flex-dir);
  padding: var(--iWrap-pad);
  flex-grow:var(--iWrap-flex-grow);
  border: var(--border);
  border-image-slice: var(--gradient-outl-slice);
  border-width: var(--gradient-outl-border-w);
  border-image-source: var(--gradient-outl-img-src);
  position:var(--inner-wrap-pos);
}

.navbar {
display: var(--nav-show);
padding: var(--navbar-padding);
box-shadow: var(--main-border-sunk-out),var(--main-border-sunk-in);
width: var(--nav-w);
justify-content: var(--nav-flex-jus);
align-items:var(--nav-flex-ali);
border-bottom: var(--nav-bb);
margin-bottom: var(--nav-mb);

  li {
    list-style: var(--nav-li-style);
    display:var(--nav-li-display);
    flex-direction:var(--nav-li-dir);
    padding:var(--nav-li-pad);
    gap:var(--nav-li-gap);
    color:var(--li-color);
  }

  ul {
    background:var(--nav-ul-back);
    background-image:var(--nav-ul-back-im);
    padding:var(--nav-ul-pad);
    width:var(--nav-ul-w);
    font-family:var(--common-font);
    font-size:var(--nav-ul-txt-size);
    line-height:var(--nav-ul-txt-lh);
    letter-spacing:var(--nav-ul-txt-letspa);
    text-transform:var(--nav-ul-txt-deco);
    box-shadow:var(--main-border-sunk-out),var(--main-border-sunk-in);
    text-align:var(--nav-ul-t-ali);
    border: var(--nav-ul-bor);
    border-style: var(--nav-ul-style);
    border-top-left-radius: var(--nav-borrad-t-l);
    border-top-right-radius: var(--nav-borrad-t-r);
    text-shadow:var(--nav-ul-txt-shad);
  }
}

.interface-bar {
  background-image: var(--main-back-img);
  background: var(--inbar-back);
  color: var(--main-bg);
  display:var(--inbar-show);
  margin-bottom:var(--inbar-mb);
  font-family:var(--common-font);
  padding:var(--inbar-padding);
  box-shadow:var(--main-border-sunk-out),var(--main-border-sunk-in);
  align-items:var(--inbar-ali);
  gap:var(--inbar-gap);

  .ibar-image {
    background-image: var(--iBar-img);
    width: var(--iBar-img-w);
    height: var(--iBar-img-h);
  }
}

.bg {
  display: var(--blur-show);
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 1.5s steps(1) infinite;
  opacity: .2;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
