@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Press+Start+2P&family=VT323&display=swap');

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}

:root {
  --background: #ebebeb;
  --text-primary: rgb(0, 0, 0);
  --text-secondary: #000b23;
  --accent: #0C38DD;
  --border: #e6e6e6;
  --common-font: 'Roboto', sans-serif;
  --global-padding: 80px;
}

[data-theme='1990'] {
  --background: #000000;
  --text-primary: #3DFF1E;
  --text-secondary: #86ff74;
  --accent: #3DFF1E;
  --border: #000000;
  --common-font: 'Press Start 2P', cursive;
  --global-padding: 8px;
}

.app {
  display: flex;
  flex-direction: row;
}

body {
  background: var(--background);
  font-family: var(--common-font);
}

.content {
  padding: var(--global-padding);
}

.slidernav {
}

p {
  color: var(--text-primary);
}

h1 {
  color: var(--text-primary);
  font-weight:bold;
  font-size: 3rem;
}

h2 {
  color: var(--text-primary);
  font-weight:bold;
  font-size: 2rem;
}

h3 {
  color: var(--text-primary);
  font-size: 2rem;
}

h4 {
  color: var(--text-primary);
  font-size: 1.5rem;
}

h5 {
  color: var(--text-primary);
  font-size: 1rem;
}
