@import "src/themes.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  li {
    @apply pr-4;
    @apply cursor-pointer
  }
}

main {
  transition: font-size 0.25s ease-in, color 0.25s ease-in, background-color 0.25s ease-in;
}

p {
  color: var(--text-primary);
  font-family: var(--common-font);
  font-size: var(--font-size);
  margin: 0 auto;
}

h1 {
  color: var(--text-primary);
  font-family: var(--common-font);
  font-size: var(--h1-size);
  margin: 0 auto;
}

h2 {
  color: var(--text-primary);
  font-family: var(--common-font);
  font-size: var(--h2-size);
  margin: 0 auto;
}

h3 {
  color: var(--accent);
  font-family: var(--common-font);
  font-size: var(--h3-size);
  margin: 0 auto;
  text-decoration: var(--h3-deco);
}

h4 {
  color: var(--text-primary);
  font-family: var(--common-font);
  font-size: var(--h4-size);
  margin: 0 auto;
}

.p-small {
  font-size: var(--p-small-size);
  text-align: var(--p-small-align);
  color: var(--text-secondary);
}

.background {
  background-color: var(--background);
  background-image: var(--background-image);
}

.varyear::after {
  content: var(--year);
}

.head-area {
  display: var(--head-behaviour);
  flex-direction:  var(--head-flx-dir);
  background: var(--head-back);
  gap: var(--head-gap);
}

.head-image {
  background-image: var(--hImgSrc);
  width: var(--hImgW);
  height: var(--hImgH);
}

.content-box {
  display: var(--cnt-behaviour);
  flex-direction:  var(--cnt-flx-dir);
  background: var(--cnt-back);
  gap: var(--cnt-gap);
}

.content-box span:nth-of-type(1){
  width: var(--cnt-first-w);
  background: var(--cnt-first-c);
}

.content-box span:nth-of-type(2){
  background: var(--cnt-second-c);
  margin-left: var(--cnt-second-ml);
}

.footer {
  display: var(--foot-behave);
  flex-direction:  var(--foot-flx-dir);
  justify-content: var(--foot-flx-just);
  align-items: var(--foot-flx-align);
  background: var(--foot-back);
}

.footer-image {
  background-image: var(--fImgSrc);
  width: var(--fImgW);
  height: var(--fImgH);
}

.footer-links {
  display: var(--foot-li-show);
}
