@import "src/themes.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  li {
    @apply pr-4;
    @apply cursor-pointer
  }
}

main {
  transition: font-size 0.25s ease-in, color 0.25s ease-in, background-color 0.25s ease-in;
}

p {
  color: var(--p-color);
  font-family: var(--common-font);
  font-size: var(--font-size);
  margin: 0 auto;
}

h1 {
  color: var(--h1-color);
  font-family: var(--common-font);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: var(--h1-lheight);
  margin: 0 auto;
}

h2 {
  color: var(--h2-color);
  font-family: var(--common-font);
  font-size: var(--h2-size);
  margin: 0 auto;
  font-weight: var(--h2-weight);
}

h3 {
  color: var(--h3-color);
  font-family: var(--common-font);
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  margin: 0 auto;
  text-decoration: var(--h3-deco);
}

h4 {
  color: var(--h4-color);
  font-family: var(--common-font);
  font-size: var(--h4-size);
  margin: 0 auto;
}

.p-small {
  font-size: var(--p-small-size);
  text-align: var(--p-small-align);
  color: var(--ps-color);
}

.default-content {
  display: var(--default-display);
}

.styled-content {
  display: var(--styled-display);
}


.background {
  background-color: var(--background);
  background-repeat: var(--background-repeat);
  background-image: var(--background-image);
}

.intro {
  padding:var(--intro-pad);
}

.varyear::after {
  content: var(--year);
}

.head-area {
  display: var(--head-behaviour);
  flex-direction:  var(--head-flx-dir);
  gap: var(--head-gap);
}

.head-image {
  background-image: var(--hImgSrc);
  width: var(--hImgW);
  height: var(--hImgH);
}

.headlines {
  padding: var(--head-pad);
  background: var(--head-back);
}

.boxes {
  display: var(--boxes--flx-beh);
  flex-direction:  var(--boxes-flx-dir);
  gap: var(--boxes-flex-gap);
  justify-content: var(--boxes-flex-jus);
  padding: var(--boxes-pad);
  background: var(--box-back);
}

.content-box:nth-child(1) {
  background: var(--conI-back);
}

.content-box:nth-child(2) {
  background: var(--conII-back);
}

.content-box:nth-child(3) {
  background: var(--conIII-back);
}

.content-box {
  display: var(--cnt-behaviour);
  flex-direction:  var(--cnt-flx-dir);
  gap: var(--cnt-gap);
  padding:var(--cnt-pad);
  text-align: var(--cnt-txt-ali);
  align-items:var(--cnt-ali-its);
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);

  p {
    color: var(--contxt-color);
  }
}

.cbox-image {
  width: var(--cbi-W);
  height: var(--cbi-H);
}

.cbi-I {
  background-image: var(--cbi-I);
}

.cbi-II {
  background-image: var(--cbi-II);
}

.cbi-III {
  background-image: var(--cbi-III);
}

.content-box span:nth-of-type(1){
  width: var(--cnt-first-w);
}

.content-box span:nth-of-type(2){
  margin-left: var(--cnt-second-ml);
}

.footer {
  display: var(--foot-behave);
  flex-direction:  var(--foot-flx-dir);
  justify-content: var(--foot-flx-just);
  align-items: var(--foot-flx-align);
  background: var(--foot-back);
  padding: var(--foot-pad);
}

.footer-image {
  background-image: var(--fImgSrc);
  width: var(--fImgW);
  height: var(--fImgH);
}

.footer-links {
  display: var(--foot-li-show);
}
