@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Press+Start+2P&family=VT323&family=Play:wght@400;700&family=Space+Grotesk:wght@400;600&family=Playfair&family=Rakkas&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
  --background: #021a2f;
  --wrap-flex-dir:column;
  --wrap-h:100vh;
  --h1-color: white;
  --p-color: #ffffffec;
  --p-size:1rem;
  --default-display:flex;
  --common-font: 'Space Grotesk', sans-serif;
  --extra-font: 'Space Grotesk', sans-serif;
  --global-padding: 1rem;
  --global-mt: 0rem;
  --h1-size:4rem;
  --h1-weight:bold;
  --h1-lheight: 4.5rem;
  --p-margin: 0 auto;
  --main-margin-top:80px;
  --styled-display: none;
  --foot-li-show:none;
  --cnt-behaviour:none;
  --nav-show:none;
  --inbar-show:none;
  --headp-show:none;
  --intro-show:none;
}

[data-theme-background="1990"] {
  --h1-size:1rem;
  --h1-lheight: 1rem;
  --h1-color: #3DFF1E;
  --h2-size: 1rem;
  --h2-color: #3DFF1E;
  --h3-color: #3DFF1E;
  --p-color: #3DFF1E;
  --ps-color: #3DFF1E;
  --contxt-color: #3DFF1E;
  --default-display:none;
  --background: #000;
  --p-small-align: center;
  --common-font: 'Press Start 2P', cursive;
  --extra-font: 'Press Start 2P', cursive;
  --year: ' ' '1990';
  --intro-show:block;
  --cnt-behaviour: flex;
  --cnt-gap: 0px;
  --cnt-flx-dir: row;
  --cnt-first-w: 260px;
  --global-padding: 1rem;
  --global-mt: 0.5rem;
  --foot-li-show: none;
  --boxes--flx-beh:block;
  --styled-display: block;
  --foot-pos-b: 1rem;
}

[data-theme-background="1991"] {
  --default-display:none;
  --h1-color: #000;
  --h2-color: #000;
  --h2-size: 1rem;
  --h3-color: #0000EF;
  --p-color: #000;
  --ps-color: #000;
  --contxt-color: #000;
  --background: #ffffff;
  --common-font: 'EB Garamond', serif;
  --extra-font: 'EB Garamond', serif;
  --year: ' ' '1991';
  --h1-size: 1.5rem;
  --h1-lheight: 1.5rem;
  --h3-deco: underline;
  --intro-show:block;
  --p-small-align: center;
  --cnt-behaviour: flex;
  --cnt-gap: 0px;
  --cnt-flx-dir: column;
  --cnt-second-ml: 24px;
  --global-padding: 2rem;
  --global-mt: 0.5rem;
  --foot-li-show: none;
  --styled-display: block;
  --foot-pos-b: 2rem;
}

[data-theme-background="1992"] {
  --default-display:none;
  --background: #CCC;
  --main-bg: #E5E5E5;
  --h1-color: #000;
  --h2-size: 1rem;
  --h2-color: #000;
  --h3-color: #000;
  --p-color: #000;
  --ps-color: #000;
  --li-color:#000;
  --inbar-show:flex;
  --inbar-padding:2px 10px;
  --inbar-back:linear-gradient(90deg,#000080,#1084d0);
  --nav-show:block;
  --navbar-padding:5px;
  --nav-li-gap:2px;
  --nav-li-pad:0px;
  --nav-li-style:none;
  --nav-li-display:flex;
  --nav-li-dir:row;
  --nav-ul-back:#eeeded;
  --nav-ul-pad:5px 10px;
  --global-padding: 0px;
  --main-margin-top:85px;
  --1992-margin:10px;
  --global-mt: 0rem;
  --intro-show:block;
  --contxt-color: #000;
  --common-font: 'VT323', monospace;
  --extra-font: 'VT323', monospace;
  --year: ' ' '1992';
  --h1-size: 1.5rem;
  --h1-lheight: 1.5rem;
  --h3-deco: underline dashed 2px;
  --hImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656055005/History%20of%20webdesign/1992_header-img_gnenct.png);
  --hImgW: 63px;
  --hImgH: 84px;
  --head-behaviour: flex;
  --head-area-pad:10px;
  --headlines-pad:10px 0px;
  --intro-pad:0px 10px 0px 10px;
  --cnt-pad:0px 10px 10px 10px;
  --head-gap: 16px;
  --foot-li-show: none;
  --styled-display: block;
  --cnt-behaviour:block;
  --main-border-sunk-out: inset -1px -1px #0a0a0a, inset 1px 1px #fff;
  --main-border-sunk-in: inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --foot-inset:-1px -1px #dfdfdf, inset 1px 1px grey;
  --foot-pad:5px;
  --foot-pos-b:0px;
  --foot-pos-r:0px;
  --foot-w:100%;
  --iBar-img:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656425616/History%20of%20webdesign/starbrush-white_on1axp.png);
  --iBar-img-w:20px;
  --iBar-img-h:20px;
  --inbar-gap:5px;
  --inbar-ali:center;
  --inbar-mb:0px;
}

[data-theme-background="1996"] {
  --default-display:none;
  --global-padding: 2rem 15rem;
  --styled-display: block;
  --background: #000;
  --background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656271968/History%20of%20webdesign/1996-bg-tile_s4erz5.png);
  --background-repeat:repeat;
  --h1-color: #fff;
  --h2-color: #fff;
  --h3-color: #000;
  --p-color: #fff;
  --ps-color: #fff;
  --contxt-color: #000;
  --common-font: 'EB Garamond', serif;
  --extra-font: 'EB Garamond', serif;
  --year: ' ' '1996';
  --intro-p:1.5rem;
  --h1-size: 3.5rem;
  --h1-weight: bold;
  --h1-lheight: 3.5rem;
  --h2-size: 1.5rem;
  --h2-weight: bold;
  --h3-size: 1.25rem;
  --h3-weight: bold;
  --head-align: center;
  --intro-show:block;
  --boxes-pad:2em 0em;
  --boxes--flx-beh:flex;
  --boxes-flex-jus: space-between;
  --boxes-flx-dir: row;
  --cnt-behaviour:flex;
  --cnt-flx-dir:column;
  --cbi-W: 40px;
  --cbi-H: 40px;
  --cbi-pos:absolute;
  --cbi-pos-r:1rem;
  --cbi-pos-t:0.5rem;
  --cbi-I: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656266630/History%20of%20webdesign/1996-content-I_srhtpb.png);
  --cbi-II: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656266630/History%20of%20webdesign/1996-content-II_tciyhp.png);
  --cbi-III: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656266630/History%20of%20webdesign/1996-content-III_wghqbn.png);
  --cnt-gap: 1em;
  --boxes-flex-gap: 2em;
  --conI-back:#FFF;
  --conII-back:#FFF;
  --conIII-back:#FFF;
  --cnt-pos:relative;
  --cnt-pad:1em;
  --p-small-align: center;
  --box-border-sunk-out: inset -1px -1px #0a0a0a, inset 1px 1px #fff;
  --box-border-sunk-in: inset -2px -2px grey, inset 2px 2px #dfdfdf;
  --foot-pos-b: 1.5rem;
  --foot-txt-align:center;
}

[data-theme-background="1998"] {
  --default-display:none;
  --head-behaviour:flex;
  --background: #0000FF;
  --hImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656579625/History%20of%20webdesign/Bildschirmfoto_2022-06-09_um_22.35.21_h5wjmd.png);
  --hImgW: 640px;
  --hImgH: 508px;
  --hImg-rep: no-repeat;
  --hImg-cov: cover;
  --global-padding: 0.5rem;
}

[data-theme-background="2000"] {
  --default-display:none;
  --styled-display: block;
  --global-padding: 1em;
  --year: ' ' '2000';
  --h1-size:4.5rem;
  --h1-weight:bold;
  --h1-color: #fff;
  --h1-lheight: 4.5rem;
  --h1-shad:-2px -2px 4px rgba(193, 255, 255, 0.5), 2px 2px 4px rgba(0, 38, 61, 0.5);
  --h2-size: 2.5rem;
  --h2-color: rgba(255, 255, 255, 0.9);
  --h2-shad:-2px -2px 4px rgba(193, 255, 255, 0.5), 2px 2px 4px rgba(0, 38, 61, 0.5);
  --h3-size:1.5rem;
  --h3-weight:bold;
  --h3-color: #fff;
  --p-color: #fff;
  --ps-color: #fff;
  --p-small-size:0.5rem;
  --background-image:radial-gradient(47.33% 93.59% at 52.67% 50%, #FFFFFF 0%, #5A5A5A 85.71%, #404040 100%);
  --background: darkgrey;
  --common-font: 'Play', sans-serif;
  --extra-font: 'Play', sans-serif;
  --nav-show:block;
  --nav-ul-w:100%;
  --nav-li-style:none;
  --nav-li-display:flex;
  --nav-li-dir:row;
  --li-color:white;
  --nav-ul-back-im: grey;
  --nav-ul-back-im:radial-gradient(99.93% 32561.74% at 0% 50%, rgba(51, 51, 51, 0.1) 0%, #333333 50.52%, rgba(51, 51, 51, 0.1) 100%);
  --nav-ul-pad:15px 40px;
  --nav-ul-t-ali:center;
  --nav-ul-txt-deco: uppercase;
  --nav-ul-txt-size:14px;
  --nav-ul-txt-lh:14px;
  --nav-ul-txt-letspa:5px;
  --nav-ul-txt-shad: -2px -2px 4px rgba(193, 255, 255, 0.5), 2px 2px 4px rgba(0, 38, 61, 0.5);
  --border:2px solid;
  --gradient-outl-slice:1;
  --gradient-outl-border-w:2px;
  --gradient-outl-img-src: linear-gradient(146.22deg, #FFFFFF -3.57%, rgba(255, 255, 255, 0) 56.96%, #FFFFFF 106.07%);
  --iWrap-back:black;
  --iWrap-img:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656579373/History%20of%20webdesign/a8A3mw_rwzexu.jpg);
  --iWrap-cov:cover;
  --iWrap-w:100%;
  --iWrap-h:100%;
  --iWrap-pad:1em;
  --iWrap-flex-grow:1;
  --inner-wrap-flex:flex;
  --inner-wrap-flex-dir:row;
  --inner-wrap-flex-ali:stretch;
  --inner-wrap-just:space-between;
  --headp-show:block;
  --headp-w:75%;
  --p-margin:0;
  --head-align:left;
  --head-behaviour:flex;
  --head-flx-dir:column;
  --contxt-color:rgba(255, 255, 255, 0.9);
  --cnt-behaviour:flex;
  --cnt-flx-dir:column;
  --boxes--flx-grow:2;
  --box-back:black;
  --boxes--flx-beh:flex;
  --boxes-flx-dir:column;
  --boxes-flex-gap: 1em;
  --box-back-img-cov:cover;
  --box-back-img:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656579379/History%20of%20webdesign/depositphotos_95481734-stock-illustration-vector-abstract-futuristic-circuit-board_ckkhm4.webp);
  --boxes-pad:1rem;
  --conI-back:rgba(0, 0, 0, 0.75);
  --conII-back:rgba(0, 0, 0, 0.75);
  --conIII-back:rgba(0, 0, 0, 0.75);
  --foot-pos-b: 1rem;
  --cnt-pad:1em;
  --cnt-w:311px;
}

[data-theme-background="2001"] {
  --background: white;
  --background-image: linear-gradient(180deg, #FFFFFF 25.56%, #e5eeee 107.18%);
  --global-mt: 0rem;
  --main-margin-top:90px;
  --default-display:none;
  --styled-display: block;
  --global-padding: 0rem;
  --year: ' ' '2001';
  --common-font: Helvetica Neue, Arial, sans-serif;
  --extra-font: 'Playfair Display', serif;
  --h1-color: #000;
  --h1-size: 4.5rem;
  --h2-color: #000;
  --h2-size: 2rem;
  --h3-color: #000;
  --h3-size: 1.5rem;
  --h3-weight: bold;
  --p-color: #000;
  --ps-color: #000;
  --p-small-size: 0.75rem;
  --contxt-color: #000;
  --hImg-shadow: 5px 20px 100px rgba(0, 0, 0, 0.25);
  --hImg-borrad:100%;
  --hImg-z:5;
  --hImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656428135/History%20of%20webdesign/moomoon_vnnryd.png);
  --hImgW: 300px;
  --hImgH: 300px;
  --hImgFlexS:0;
  --nav-show:flex;
  --nav-li-style:none;
  --nav-li-display:flex;
  --nav-li-dir:row;
  --nav-ul-back:lightgrey;
  --nav-ul-back-im:linear-gradient(180deg, #F9F9F9 0%, #C5C5C5 15.03%, rgba(214, 214, 214, 0.919445) 21.35%, #FFFFFF 100%);
  --nav-ul-pad:8px 24px;
  --nav-ul-w:160px;
  --nav-ul-t-ali:center;
  --nav-ul-bor:1px solid lightgrey;
  --nav-ul-style:inset;
  --nav-w:100%;
  --nav-flex-jus:center;
  --nav-flex-ali:center;
  --nav-bb:1px solid lightgrey;
  --nav-mb:1em;
  --nav-borrad-t-l:5px;
  --nav-borrad-t-r:5px;
  --head-behaviour: flex;
  --head-gap: 40px;
  --head-ali:center;
  --headp-show:block;
  --p-margin:0;
  --head-area-pad: 2rem 5rem 0rem 5rem;
  --headp-mt: 0.5em;
  --headp-w:75%;
  --intro-show:none;
  --cnt-z:10;
  --cnt-behaviour:flex;
  --cnt-flx-dir:column;
  --cnt-gap:0.25em;
  --cnt-ali-its:left;
  --cnt-txt-ali:left;
  --cnt-pad: 1rem 1rem 1rem 124px;
  --cnt-bor: 1px solid lightgrey;
  --conI-back:#FFF;
  --conII-back:#FFF;
  --conIII-back:#FFF;
  --cnt-bor-rad: 5px;
  --cbi-W: 92px;
  --cbi-H: 92px;
  --cbi-shadow: 3px 6px 15px rgba(0, 0, 0, 0.25);
  --cbi-borrad:100%;
  --cbi-pos: absolute;
  --cbi-pos-l:1rem;
  --cbi-pos-t: 1.5rem;
  --cnt-pos:relative;
  --boxes-pad: 2em 5em;
  --boxes--flx-beh:flex;
  --boxes-flex-gap: 1em;
  --boxes-flex-jus: space-between;
  --cbi-I: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656428306/History%20of%20webdesign/Mask_group_bcs935.png);
  --cbi-II: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656428304/History%20of%20webdesign/Mask_group-1_le57k7.png);
  --cbi-III: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656428304/History%20of%20webdesign/Mask_group-2_jmp2mc.png);
  --foot-pos-b: 1rem;
  --foot-pos-l: 5rem;
}


[data-theme-background="2014"] {
  --styled-display: block;
  --default-display:none;
  --background: #fff;
  --h1-color: #fff;
  --h2-color: #fff;
  --h3-color: #fff;
  --p-color: #fff;
  --ps-color: #fff;
  --contxt-color: #fff;
  --common-font: 'Roboto', sans-serif;
  --extra-font: 'Roboto', sans-serif;
  --global-padding: 0rem;
  --global-mt: 0rem;
  --year: ' ' '2014';
  --fImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656172333/History%20of%20webdesign/2014-logo_au9wmq.png);
  --fImgW: 84px;
  --fImgH: 41px;
  --h1-size: 3rem;
  --h1-weight: bold;
  --h1-lheight: 3rem;
  --h2-size: 2rem;
  --h3-size: 1.5rem;
  --h3-weight:bold;
  --h4-size: 1.5rem;
  --foot-behave: flex;
  --foot-flx-just:space-between;
  --foot-flx-align:center;
  --foot-back:#444444;
  --boxes--flx-beh:flex;
  --boxes-flx-dir: row;
  --headlines-pad: 2rem 4rem 2rem 4rem;
  --head-back: #2C0EAC;
  --headp-mt: 0.5em;
  --headp-w:75%;
  --headp-show:block;
  --p-margin:0;
  --intro-show:none;
  --boxes-flex-jus: space-between;
  --cnt-behaviour:flex;
  --cnt-flx-dir:column;
  --cnt-gap:0.5em;
  --cnt-ali-its:center;
  --cnt-txt-ali:center;
  --box-flx-ali: center;
  --cnt-pad: 2em;
  --conI-back:#FFCD40;
  --conII-back:#FF0B3B;
  --conIII-back:#2C0EAC;
  --boxes-flex-gap: 2em;
  --cbi-W: 100px;
  --cbi-H: 100px;
  --cbi-I: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656172333/History%20of%20webdesign/2014-content-I_fflmi1.png);
  --cbi-II: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656172333/History%20of%20webdesign/2014-content-II_stcfu9.png);
  --cbi-III: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656172333/History%20of%20webdesign/2014-content-III_dimoao.png);
  --foot-li-show:block;
  --boxes-pad: 2rem 4rem;
  --foot-pad: 0.5rem 4rem;
  --p-small-size: 0.75rem;
  --foot-w:100%;
  --foot-pos-b: 0rem;
}

[data-theme-background="2017"] {
  --default-display:none;
  --styled-display: block;
  --intro-show:block;
  --intro-rotate:rotate(-90deg);
  --intro-w:30%;
  --intro-pos:absolute;
  --inner-wrap-pos:relative;
  --intro-pos-b:-2rem;
  --intro-pos-r:0em;
  --global-padding: 80px;
  --year: ' ' '2017';
  --background: #EDEDED;
  --background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656672531/History%20of%20webdesign/2017-grainybg-tile_lzzg5q.png);
  --background-repeat:repeat;
  --common-font: 'Roboto', sans-serif;
  --extra-font: 'Rakkas', cursive;
  --h1-size:6rem;
  --h1-lheight: 6rem;
  --h1-color: #1D0202;
  --h2-size: 6rem;
  --h2-color: #1d0202d6;
  --h3-size:1.5rem;
  --h3-color: #1D0202;
  --p-color: #1d0202d6;
  --ps-color: #1D0202;
  --foot-pos-b: 0.5rem;
}

[data-theme-background="2019"] {
  --default-display:none;
  --styled-display: block;
  --intro-show:block;
  --global-padding: 2em 4em;
  --year: ' ' '2019';
  --background: #ffffff;
  --background-image:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656672532/History%20of%20webdesign/2019-hd-bg_myneq3.jpg);
  --background-img-cov:cover;
  --h1-size:5rem;
  --h1-lheight: 5rem;
  --h1-color: #3B4F7D;
  --h2-size: 3rem;
  --h2-color: #3b4f7d9b;
  --h3-size:2rem;
  --h3-color: #3B4F7D;
  --p-size:1.25em;
  --p-color: #3b4f7d9b;
  --p-small-size:0.75rem;
  --ps-color: #3b4f7d7e;
  --contxt-color:#3b4f7d9b;
  --contxt-fontsize:1em;
  --boxes-pad:4em 0em;
  --boxes--flx-beh:flex;
  --boxes-flx-dir:row;
  --cnt-behaviour: flex;
  --boxes-flex-gap:2em;
  --cnt-gap: 0.5em;
  --cnt-flx-dir: column;
  --cnt-pad:2.5em;
  --cnt-txt-ali:center;
  --cnt-bor-rad:30px;
  --cbi-W: 135px;
  --cbi-H: 135px;
  --cbi-I:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656675052/History%20of%20webdesign/creative-idea_wyw4b6.png);
  --cbi-II:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656675052/History%20of%20webdesign/business-goal_crjybe.png);
  --cbi-III:url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656675052/History%20of%20webdesign/setting_cforuw.png);
  --cnt-pos:relative;
  --cbi-pos:absolute;
  --cbi-pos-l:-3em;
  --cbi-pos-t:-2em;
  --conI-back: linear-gradient(94.96deg, rgba(231, 238, 255, 0.5) 6.5%, rgba(224, 234, 255, 0.5) 96%);
  --conII-back: linear-gradient(94.96deg, rgba(231, 238, 255, 0.5) 6.5%, rgba(224, 234, 255, 0.5) 96%);
  --conIII-back: linear-gradient(94.96deg, rgba(231, 238, 255, 0.5) 6.5%, rgba(224, 234, 255, 0.5) 96%);
  --box-s-neo-dark: 10px 10px 20px #C2CCEB;
  --box-s-neo-light: 10px -10px 16px rgba(234, 239, 255, 0.25);
  --foot-pos-b: 1rem;
}

[data-theme-background="2020"] {
  --default-display:none;
  --styled-display: block;
  --background: #ffffff;
  --intro-show:block;
  --background-image: conic-gradient(from 145.9deg at 52.72% 30.87%, #97E1D4 -190.84deg, #6284FF 30.46deg, #FF72B6 51.42deg, #F9E5E8 94.7deg, #97E1D4 169.16deg, #6284FF 390.46deg);
  --h1-color: #000;
  --h2-color: rgb(53, 53, 53);
  --h3-color: rgb(53, 53, 53);
  --p-color: rgb(53, 53, 53);
  --ps-color: rgb(53, 53, 53);
  --contxt-color: rgb(53, 53, 53);
  --common-font: 'Space Grotesk', sans-serif;
  --extra-font: 'Space Grotesk', sans-serif;
  --year: ' ' '2020';
  --h1-size: 4rem;
  --h2-size: 3rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --p-small-size: 0.75rem;
  --foot-pos-b: 1rem;
  --foot-pos-r: 1rem;
}

[data-theme-background="dark"] { --background: #000; --color: #d9d9d9; }
