@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Press+Start+2P&family=VT323&family=Space+Grotesk:wght@400;600&display=swap');

:root {
  --background: teal;
  --text-primary: yellow;
  --text-secondary: orange;
  --accent: red;
  --common-font: 'Space Grotesk', sans-serif;
  --global-padding: 3rem 6rem;
  --global-mt: 1rem;
}

[data-theme-background="1990"] {
  --background: #000;
  --text-primary: #3DFF1E;
  --text-secondary:  #3DFF1E;
  --p-small-align: center;
  --accent: #3DFF1E;
  --common-font: 'Press Start 2P', cursive;
  --year: ' ' '1990';
  --cnt-behaviour: flex;
  --cnt-gap: 16px;
  --cnt-flx-dir: row;
  --cnt-first-w: 240px;
  --global-padding: 1rem;
  --global-mt: 0.5rem;
  --foot-li-show: none;
}

[data-theme-background="1991"] {
  --background: #ffffff;
  --text-primary:  #000;
  --text-secondary:  #000;
  --accent:  #0000EF;
  --common-font: 'EB Garamond', serif;
  --year: ' ' '1991';
  --h1-size: 1.5rem;
  --h3-deco: underline;
  --p-small-align: center;
  --cnt-behaviour: flex;
  --cnt-gap: 0px;
  --cnt-flx-dir: column;
  --cnt-second-ml: 24px;
  --global-padding: 2rem;
  --global-mt: 1rem;
  --foot-li-show: none;
}

[data-theme-background="1992"] {
  --background: #E5E5E5;
  --color: #000;
  --text-primary:  #000;
  --text-secondary:  #000;
  --accent:  #000;
  --common-font: 'VT323', monospace;
  --year: ' ' '1992';
  --h1-size: 1.5rem;
  --h3-deco: underline dashed 2px;
  --hImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656055005/History%20of%20webdesign/1992_header-img_gnenct.png);
  --hImgW: 63px;
  --hImgH: 84px;
  --head-behaviour: flex;
  --head-gap: 16px;
  --global-padding: 2rem;
  --foot-li-show: none;
}

[data-theme-background="2014"] {
  --background: #fff;
  --text-primary:  #000;
  --text-secondary:  #fff;
  --accent:  #000;
  --common-font: 'Roboto', sans-serif;
  --global-padding: 1rem;
  --global-mt: 0.5rem;
  --year: ' ' '2014';
  --fImgSrc: url(https://res.cloudinary.com/dr24t0rw2/image/upload/v1656172333/History%20of%20webdesign/2014-logo_au9wmq.png);
  --fImgW: 84px;
  --fImgH: 41px;
  --h1-size: 4rem;
  --h2-size: 3rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --foot-behave: flex;
  --foot-flx-just:space-between;
  --foot-flx-align:center;
  --foot-back:#444444;
}

[data-theme-background="2020"] {
  --background: #ffffff;
  --background-image: conic-gradient(from 145.9deg at 52.72% 30.87%, #97E1D4 -190.84deg, #6284FF 30.46deg, #FF72B6 51.42deg, #F9E5E8 94.7deg, #97E1D4 169.16deg, #6284FF 390.46deg);
  --color: #000;
  --text-primary:  #000;
  --text-secondary:  #000;
  --accent:  #000;
  --common-font: 'Space Grotesk', sans-serif;
  --year: ' ' '2020!';
  --h1-size: 4rem;
  --h2-size: 3rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
}

[data-theme-background="dark"] { --background: #000; --color: #d9d9d9; }
